{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "./src/utils",
        "components": "./src/components",
        "styles": "./src/styles",
        "constants": "./src/constants",
        "actions": "./src/actions"
      },
      "extensions": [".js"]
    }]
  ]
}
